* {
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

.bgOrange {
    background-color: #FF6900;
}

.bgBlack {
    background-color: black;
}

.flex {
    display: flex;
}

.marginToCenter {
    margin: 0 270px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.heightHead {
    height: 70px;
}


.logo img {
    height: 100%;
}

.flexCenter {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.colorWhite {
    color: white;    
}

.faHeader i {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.noUndeline {
    text-decoration: none;
}

main {
    margin-top: 100px;
    margin-bottom: 110px;
}

.paddingBottom {
    padding-bottom: 4rem;
}

img {
    width: 100% ;
    display: block;
}

.cuoricino {
    background-color: white;
    height: 55px;
    width: 50px;
    position: relative;
    top: 8px;
    left: 0px;
}

.ridimImg {
    width: calc(100% / 3 - 25px);
}

.imgPrimaria {

}

.imgSecondaria {
    display: none;
}

.logo {
    height: 32px;
}

.height110 {
    height: 110px;
}

.height1Rem {
    height: 1rem;
}

.faFooter i {
    margin-right: 1rem;
    font-size: 2rem;
}

h4 {
    padding-bottom: 1rem;
}


.azienda  {
    font-weight: 800;
    padding-bottom: 1rem;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}